@media screen and (max-width: 800px) {

    .slide-container {
        z-index: 9;
    }
    .txt-box-main {
        width: 90%;
    }

    #header-desktop {
        display: none;
    }

    #header-mobile {
        position: fixed;
        top: 0;
        left: 0;
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .overlay-header {
        position: fixed;
        top: 0;
        left: -100%;
        height: 1000vh;
        width: 200%;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;
        z-index: 999;
        background: rgba(3, 3, 3, 0.295);
    }

    #header-mobile.open ~ .overlay-header {
        opacity: 1;
        left: 260px;
        pointer-events: auto;
    }

    .menu-icon {
        margin-right: 20px;
        font-size: 1.7em;
    }

    .logo-header {
        margin-left: 20px;
    }

    .nav-header {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 260px;
        padding: 20px 0;
        background-color: #fff;
        box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
    }

    #header-mobile.open .nav-header{
        left: 0;
    }

    .menu-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 30px 16px;
        height: 100%;
    }

    .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-radius: 15px;
        color: black;
        width: 90%;
        height: 60px;
        margin-top: 40px;
    }

    #nav-link-last {
        align-self: flex-end;
    }
    
}