@media screen and (max-width: 850px) and (min-width: 0px) {


    body {
        overflow-x: hidden;
    }

    .slide-container {
        z-index: 9;
        color: #0056b3;
    }

    .slide-container {
        overflow: hidden;
    }

    .txt-box-main {
        width: 90%;
    }

    .titulo-reservas {
        display: flex;
        align-self: flex-start;
        margin-left: 20px;
        width: 70%;
        margin-top: 0px;
        font-size: 2em;
        justify-content: flex-start;
        text-align: left;
    }

    main {
        height: max(60vh, 700px);
    }

    .filtro-reserva {
        display: none;
    }

    #datepicker-mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .input-btn-mobile {
        width: 50%;
    }

    #formulario-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }



    #formulario-container {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 400px;
        width: 90%;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    input[type="date"],
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #111111;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }

    .cx-txt-galeria>p {
        width: 90%;
        font-size: .8em;
    }

    .container-1,
    .container-2 {
        flex-direction: column;
        width: 90%;
    }

    .container-img-1,
    .container-img-2 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .container-img-1>picture,
    .container-img-2>picture {
        margin: 10px 0px 0px 0px;
    }

    .img-maior-1 {
        width: 100%;
    }

    /*sobre-nos*/

    .bckg-sobre-nos {
        flex-direction: column;
        height: auto;
        width: 100%;
        border-radius: 0px;
    }

    .img-sobre-nos {
        width: 100%;
        height: 400px;
        border-radius: 0px 0px 20px 20px;
    }

    .img-txt-box {
        display: none;
    }

    .txt-box-sobre-nos {
        height: 200px;
        justify-content: center;
        width: 100%;
        padding: 0px 10px 0px 20px;
    }

    .arrow-right {
        display: none;
    }

    #arrow {
        align-self: center;
        justify-self: center;
    }

    .arrow-bottom {
        display: flex;
        bottom: 29%;
        background-image: url(../img/arrow-down.png);
    }

    .txt-box-sobre-nos>p {
        font-size: .9em;
        margin-bottom: 0px;
    }

    #cardapio {
        flex-direction: column;
    }

    .arrow-left {
        display: none;
    }

    .box-cards-rating {
        flex-direction: column;
        width: 90%;
        padding: 20px 0px;
        margin: 0px;
        align-items: center;
    }

    .card-rating {
        width: 90%;
        margin-bottom: 20px;
    }

    .title-rating {
        font-size: 3em;
        margin-left: 20px;
    }


    .img-card {
        height: 70%;
        width: 100%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }
}