@media screen and (max-width: 850px) and (min-width: 0px) {
    main {
        height: max(60vh, 700px);
    }

    .filtro-reserva {
        display: none;
    }

    .input-daterange {
        display: flex;
        justify-content: space-between;
    }
    .input-btn-mobile {
        width: 50%;
        font-size: 16px;
        color: #757575;
        padding: 8px 16px;
        background-color: var(--dark-bg-color);
        border: none;
        border-radius: 12px;
        border-style: none;
        outline: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    #formulario-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    #formulario-container {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 400px;
        width: 90%;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    input[type="date"],
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="submit"]:hover {
        background-color: #737373;
        color: rgb(33, 33, 33);
        border-color: #737373;
    }

    .cx-txt-galeria>p {
        width: 90%;
        font-size: .8em;
    }

    .container-1,
    .container-2 {
        flex-direction: column;
        width: 90%;
    }

    .container-img-1,
    .container-img-2 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .container-img-1>picture,
    .container-img-2>picture {
        margin: 10px 0px 0px 0px;
    }

    .img-maior-1 {
        width: 100%;
    }

    .rodape {
        align-items: center;
        flex-direction: column-reverse;
    }

    .links-rodape {
        font-size: .9em;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .box-links-rodape {
        padding: 0px;
    }

    .container-links {
        align-items: center;
        flex-direction: column;
    }

    .container-links-1,
    .container-links-2 {
        width: 100%;
        justify-content: space-between;
    }

    .mapa-rodape {
        width: 100%;
        margin-bottom: 40px;
    }

    /*acomodacoes*/

    #seção-acomodacoes {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 100px;
    }

    .acomodacoes-container {
        flex-direction: column;
    }

    .scrollable-div {
        display: grid;
        max-height: 68vh;
        overflow-y: auto; /* Habilita a rolagem vertical */
        padding: 10px 10px 0px 10px;
        overflow-x: hidden;
        grid: 1em;
    }

    #secao-acomodacoes {
        display: flex;
        align-items: center;
    }

    .container-check-1, .container-check-2 {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .form-acomodacao {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
    }

    .filtro-acomodacao {
        width: 100%;
        height: auto;
        margin: 0px 0px 10px 0px;
        padding: 15px;
    }

    .check-box {
        font-size: .7em;
    }

    .card {
        height: 460px;
        flex-direction: column;
    }

    .img-card {
        height: 70%;
        width: 100%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .txt-box-card-acomodacao {
        width: 100%;
        height: auto;
        font-size: 1.2vh;
        padding: 20px 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }

    .valor-acomodacao {
        display: flex;
        padding: 0px;
        font-size: 2em;
    }

    .acomodacao-title {
        font-size: 2.3em;
        margin: 0px;
    }

    .btn-success {
        display: flex;
        height: 40px;
        align-items: center;
    }

    .desc-card-acomodacao {
        font-size: 1em;
        font-style: italic;
        font-weight: lighter;
        margin-bottom: 15px;
    }

    #num-adultos {
        background-color: var(--dark-bg-color);
    }
    
}