footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--dark-bg-color);
	margin-top: 60px;
	padding: 40px 0px;
}

.rodape {
	display: flex;
	width: 90%;
	max-width: 1200px;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-start;
}

.container-links {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.box-cod {
	display: flex;
}

.links-rodape {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 1em;
	margin: 0px;
}

.box-links-rodape {
	display: flex;
	align-items: start;
	flex-direction: column;
	
}

.box-links-rodape>strong {
	color: white;
	font-size: 14px;
	margin-bottom: 10px;
}

.nav-link-rodape {
	font-weight: lighter;
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
	min-width: 112px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}

.nav-link-rodape:hover {
	color: #ffffff98;
}

.nav-link-rodape>i {
	margin-left: 5px;

}

.container-links-1,
.container-links-2 {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	width: 50%;
}

.mapa-rodape {
	width: 70%;
	height: 280px;
	border-radius: 40px;
}

.codigo-promo {
	margin-top: 60px;
	margin-left: 25px;
}

.codigo-promo>h2 {
	color: white;
}

.input-promo {
	background-color: rgb(255, 255, 255);
	border: none;
	padding: 10px;
	border-radius: 20px;
	height: 40px;
	margin-right: 20px;
}

.input-promo:focus {
	outline: none;
}

.input-promo::placeholder {
	color: var(--dark-bg-color);
	opacity: 0.5;
}

#btn-promo {
	width: 110px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	background-color: var(--opaca-bg-color);
	color: #757575;
	font-family: "Geologica", sans-serif;
	text-align: center;
	padding: 0px 0px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all ease-in-out .2s;
}

/*! RESPONSIVE FOOTER 800px */
@media screen and (max-width: 850px) and (min-width: 0px) {
	.codigo-promo {
		margin-left: 0px;
	}
	.rodape {
        align-items: center;
        flex-direction: column-reverse;
    }

    .links-rodape {
        font-size: .9em;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .box-links-rodape {
        padding: 0px;
    }

    .container-links {
        align-items: center;
        flex-direction: column;
    }

    .container-links-1,
    .container-links-2 {
        width: 100%;
        justify-content: space-between;
    }

    .mapa-rodape {
        width: 100%;
        margin-bottom: 40px;
    }
}


/*! RESPONSIVE FOOTER 350px */
@media screen and (max-width: 350px) {
	.box-cod {
		display: flex;
		flex-direction: column;

	}

	#btn-promo {
		background-color: #2a074e;
		width: 100%;
	}

	.input-promo {
		margin: 0px 0px 10px 0px;
	}

	.rodape {
		align-items: center;
		flex-direction: column-reverse;
		padding: 0 1em;
	}

	.links-rodape {
		font-size: .9em;
		padding: 0px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.box-links-rodape {
		padding: 0px;
	}

	.container-links {
		align-items: center;
		flex-direction: column;
	}

	.container-links-1,
	.container-links-2 {
		width: 100%;
		justify-content: space-between;
	}

	.mapa-rodape {
		width: 100%;
		margin-bottom: 40px;
	}

	#up-btn{
		position: fixed;
		bottom: 0;
		right: 0;
		font-size: 200px !important;
		color: black;
	}
}