@charset "UTF-8";

main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.wrapper {
    padding: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 10px;
    margin-left: 12em;

}
.container{
    width: 25%;
}


.btn {
    font-size: 1em;
    width: 200px;
    height: 40px;
}

#btn-group {
    display: flex;
    width: 100%;
    
}