@media (min-width: 576px) {
    #background {
        display: none;
    }
}

@media (min-width: 767px) {
    #background {
        width: 30%;
        height: 100vh;
        display: flex;
        background-image: url(../imagens/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .container {
        width: 70%;
    }
}

@media (min-width: 992px) {

    .container {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #background {
        width: 60%;
        height: 100vh;
        display: flex;
        background-image: url(../imagens/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    input {
        height: 70px;
    }

    body {
        justify-content: center;
    }

    .form-control {
        height: 50px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .btn {
        font-size: 1em;
        width: 60%;
        height: 70px;
        margin-top: 20px;
    }

    form {
        width: 100%;
    }

    .box-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100%;
    }

    .box-form>p,
    .box-form>h2 {
        width: 100%;
    }

    .box-form>h2 {
        font-size: 2em;
    }
}

@media (min-width: 1200px) {
    main {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    .wrapper {
        padding: 20px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.315);
        border-radius: 10px;
        margin-left: 12em;

    }

    .container {
        width: 25%;
    }


    .btn {
        font-size: 1em;
        width: 200px;
        height: 40px;
    }

    #btn-group {
        display: flex;
        width: 100%;

    }
}