
::selection {
    background-color: #dbddff; 
    color: #ffffff; 
}


p::selection {
    background-color: #dbddff;
    color: #ffffff;
}


a{
	color: #5a5fae;
    transition: all 0.2s ease;

}

a:hover{
	color: #1d1060;
    transition: all 0.2s ease;

}

main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.wrapper {
    padding: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 10px;
    margin-left: 12em;

}


.btn {
    font-size: 1em;
    width: 200px;
    height: 40px;
}

#btn-group {
    display: flex;
    width: 100%;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Esconde o label quando o input está vazio e mostra o placeholder */
input:placeholder-shown + label {
	transform: translateY(-10px);
    /* Estilos para quando o input está vazio */
    /* Por exemplo, você pode querer manter o label em cima */
}

/* Mostra o label normalmente quando o input tem algum valor */
input:not(:placeholder-shown) + label {
    /* Estilos para manter o label flutuando acima do input */
    transform: translateY(-20px); /* Ajuste conforme necessário */
    /* Adicione outros estilos como tamanho da fonte, cor, etc., conforme necessário */
}

.form-control{
    padding: 10px 0 10px 6px;
}

