@charset "UTF-8";

main {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

.btn {
    font-size: 1em;
    width: 200px;
    height: 40px;
}

#btn-group {
    display: flex;
    width: 100%;

}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.bg {
    width: 70%;
    height: 100vh;
    background-image: url(../imagens/background-login.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}